input {
  width: 80px;
  border: none;
  letter-spacing: normal;
  line-height: normal;
  outline: none;
}

input::-moz-placeholder {
  color: black;
}

input::placeholder {
  color: black;
}

.stories {
  font-style: normal;
  letter-spacing: normal;
}

.stories #slider1 {
  border-bottom: 1px solid #dbdbdb;
  position: fixed;
  width: 100vw;
  z-index: 1;
}

.stories #slider1 header {
  background-color: rgb(239, 239, 239);
  height: 40px;
  display: flex;
  justify-content: space-between;
  padding: 10px 15px 0 10px;
  align-items: center;
}

.stories #slider1 .slider {
  background-color: rgb(239, 239, 239);
}

.stories #slider1 .slider .likes {
  width: 56.25px;
  position: absolute;
  display: flex;
  align-items: center;
  background-color: transparent;
  justify-content: center;
}

.stories #slider1 .slider .likesInput {
  background-color: transparent;
  font-size: 14px;
  color: white;
  letter-spacing: normal;
  width: 10px;
  -webkit-text-fill-color: white;
  opacity: 1;
  margin-left: 3px;
}

.stories #slider1 img {
  width: 56.25px;
  height: 100px;
  border-radius: 10px;
  transition: transform 0.3s ease;
  -o-object-fit: cover;
     object-fit: cover;
}

.stories #slider1 .slide {
  padding-top: 15px;
  height: 145px;
  width: 60px;
  position: relative;
  display: flex;
  justify-content: center;
}

.stories #slider1 .slide .likes {
  bottom: 32px;
  left: 0;
}

.stories #slider1 .slick-current {
  width: 72px;
}

.stories #slider1 .slick-current img {
  transform: scale(1.2);
}

.stories #slider1 .slick-current .likes {
  bottom: 22px;
  left: 3px;
  width: 67.5px;
}

.stories .statistic {
  padding-top: 185px;
}

.stories .statistic input:disabled {
  color: black !important;
  background-color: transparent !important;
  -webkit-text-fill-color: black;
  opacity: 1;
}

.stories .statistic .instbold {
  font-weight: 800;
  font-style: normal;
  font-size: 18px;
}

.stories .statistic .instnormal {
  font-weight: 400;
}

.stories .statistic .btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px 0 10px;
  height: 45px;
  border-bottom: 1px solid #dbdbdb;
}

.stories .statistic .btns div {
  width: 130px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stories .statistic .review,
.stories .statistic .interaction {
  padding: 10px 15px 20px 10px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  row-gap: 10px;
  border-bottom: solid 5px #efefef;
}

.stories .statistic .review div,
.stories .statistic .interaction div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stories .statistic .review div input,
.stories .statistic .interaction div input {
  text-align: end;
}

.stories .statistic .head {
  justify-content: start;
}

.stories .statistic .head span {
  font-size: 24px;
  margin-right: 10px;
}

.stories .statistic .coverage,
.stories .statistic .involvement {
  border-bottom: 1px solid #dbdbdb;
  padding: 15px 15px 40px 10px;
}

.stories .statistic .coverage .chart-container,
.stories .statistic .involvement .chart-container {
  margin-top: 20px;
  display: grid;
  grid-template-rows: 47px 70px;
  row-gap: 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.stories .statistic .coverage .chart-container .centered-text,
.stories .statistic .involvement .chart-container .centered-text {
  align-items: center;
  grid-row: 1;
}

.stories .statistic .coverage .chart-container .centered-text input,
.stories .statistic .involvement .chart-container .centered-text input {
  text-align: center;
}

.stories .statistic .coverage .chart-container .bottom-row,
.stories .statistic .involvement .chart-container .bottom-row {
  display: grid;
  grid-template-columns: 1fr 90px 1fr;
  grid-row: 2;
  position: relative;
  z-index: 0;
}

.stories .statistic .coverage .chart-container .bottom-row div,
.stories .statistic .involvement .chart-container .bottom-row div {
  text-align: center;
}

.stories .statistic .coverage .chart-container .justend,
.stories .statistic .involvement .chart-container .justend {
  justify-self: end;
}

.stories .statistic .coverage .chart-container .justend input,
.stories .statistic .involvement .chart-container .justend input {
  width: 77px;
  text-align: end;
}

.stories .statistic .coverage .chart-container .juststart,
.stories .statistic .involvement .chart-container .juststart {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: -10px;
  bottom: 12px;
}

.stories .statistic .coverage .chart-container > div,
.stories .statistic .involvement .chart-container > div {
  display: flex;
  flex-direction: column;
}

.stories .statistic .coverage .chart-container .dot-container,
.stories .statistic .involvement .chart-container .dot-container {
  display: flex;
  align-items: center;
}

.stories .statistic .coverage .chart-container .dot,
.stories .statistic .involvement .chart-container .dot {
  width: 5px;
  height: 5px;
  border-radius: 100%;
  margin: 0 3px;
}

.stories .statistic .coverage .chart-container .blue,
.stories .statistic .involvement .chart-container .blue {
  background-color: rgb(0, 149, 246);
}

.stories .statistic .coverage .chart-container .darkblue,
.stories .statistic .involvement .chart-container .darkblue {
  background-color: rgb(0, 55, 107);
}

.stories .statistic .coverage .chart-container .chart,
.stories .statistic .involvement .chart-container .chart {
  display: block;
}

.stories .statistic .shows,
.stories .statistic .stickers {
  padding: 15px 15px 30px 10px;
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  border-bottom: solid 5px #efefef;
}

.stories .statistic .shows input,
.stories .statistic .stickers input {
  text-align: end;
}

.stories .statistic .involvement {
  border-bottom: 1px solid #dbdbdb;
}

.stories .statistic .stickers {
  flex-direction: column;
}

.stories .statistic .stickers > div {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.stories .statistic .stickers > div .tas {
  width: 150px;
  text-align: start;
}

.stories .statistic .rows3 {
  grid-template-rows: 1fr 1fr 1fr;
}

.imginputfonts {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.chartp {
  color: rgb(199, 199, 199);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,
li,
dl {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

button {
  margin: 0;
  border-radius: 0;
  border: 0;
  padding: 0;
  text-align: inherit;
  outline: none;
  cursor: pointer;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  font-style: normal;
  color: black;
  line-height: 10px;
  letter-spacing: -1px;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.container {
  height: 100%;
  display: grid;
  grid-template-rows: 140px auto 48px;
}

.container > div:first-child {
  height: 120px;
}

.container header {
  padding-top: 5px;
  border-bottom: 1px solid rgb(219, 219, 219);
  margin-bottom: 5px;
  height: 44px;
  display: flex;
  align-items: center;
  padding-left: 5px;
}

.container header a svg {
  transform: rotate(-90deg);
}

.container header #content {
  margin-left: 130px;
  background-color: transparent;
  font-size: 24px;
}

.container .btns {
  border-bottom: 1px solid rgb(219, 219, 219);
  padding-left: 5px;
  height: 50px;
  display: flex;
  align-items: center;
}

.container .btns button {
  height: 30px;
  margin: 5px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  text-align: center;
  font-size: 18px;
}

.container .btns img {
  transform: scale(1.2);
}

.container p {
  margin-top: 7px;
  font-size: 30px;
  padding-left: 10px;
}

.container #imageContainer {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 170px 170px 170px;
  -moz-column-gap: 1px;
       column-gap: 1px;
  row-gap: 1px;
}

.container footer {
  z-index: 2;
  background-color: white;
  position: sticky;
  bottom: 0;
  height: 48px;
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
}

.container footer img {
  height: 26px;
  width: 26px;
  border: solid 2px black;
  border-radius: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.imagesAdded {
  width: 33.3333333333vw;
  height: 170px;
  -o-object-fit: cover;
     object-fit: cover;
}

.divImage {
  width: 33.3333333333vw;
  height: 170px;
  position: relative;
}

.inputImage {
  width: 40px;
  height: 27px;
  border-radius: 11px;
  margin: 10px 0;
  border: none;
  position: absolute;
  z-index: 1;
  background-color: #3B444B;
  left: 45px;
  top: 125px;
  text-align: center;
  color: white;
  letter-spacing: normal;
  line-height: normal;
}

.inputImage::-moz-placeholder {
  color: white;
  font-size: 18px;
  letter-spacing: normal;
  line-height: normal;
}

.inputImage::placeholder {
  color: white;
  font-size: 18px;
  letter-spacing: normal;
  line-height: normal;
}

.none {
  display: none;
}

.svgImg {
  position: absolute;
  right: 7px;
  top: 7px;
}